.App {
  display: flex;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgb(63, 86, 119) 0%,
    rgba(33, 44, 61, 1) 42%,
    rgb(15, 21, 29) 100%
  );
  min-height: 100vh;
}

  .MyAppBar {
    height: 87vh;
    background-color: rgba(0, 0, 0, 0.539);
    position: fixed;
  }
    /* .MyAppBar h2 {
    } */

  .MyHome {
    min-height: 100vh;
  }

  .MySearch {
    border-radius: 10px;
  }
  .ButtonSignup {
    background-color: white;
    color: black!important;
    border: 1px solid black;
    border-radius: 20px;
  }
    .ButtonSignup:hover {
      background-color: rgb(60, 211, 60)!important;
      border: 1px solid rgb(60, 211, 60)!important;
    }
  .ButtonLogin {
    background-color: black!important;
    border-radius: 20px;
    color: white!important;
    border: 1px solid white!important;

  }
  .ButtonLogin:hover {
    color: black!important;
    background-color: white!important;
  }  
  .mySection {
    min-height: 50vh;
  }
  .textCard {
    font-size: .8em;
    font-weight: bold;
    color: rgb(186, 186, 186);
    text-decoration: none;
    border: none;
    background-color: transparent;
  }
  .textCard:hover {
    color:white
  }
  .textCard2 {
    font-size: .8em;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  .textCard2:hover {
    color:white
  }
  .homeMenu {
    font-size: .8rem;
    font-weight: bold;
    color: gray;
  }
  .homeMenuLink {
    color: gray;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    border: none;
    text-align: start;
    font-size: 1.2rem;
  }
  .whiteText {
    border-bottom: 2px solid rgb(60, 211, 60)!important;
  }
  .homeMenuLink2 {
    color: gray;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    border: none;
    text-align: start;
    font-size: 1.2rem;
  }
  .homeMenuLink:hover {
    color: white;
  }
  .buttonSearch {
    height: 40px;
  }
  .cardMusic {
    max-width: 300px;
    min-height: 400px;
    background-color: rgb(46, 46, 46);
    /* box-shadow: 2px 2px 20px black; */
    border-radius: 10px;
  }
  @media screen and (max-width: 500px) {
    .cardMusic {
      min-height: 400px;
    }
  }
  .cardMusic:hover {
    background-color: rgb(70, 70, 70);
  }
  .playButton {
    display: flex;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    align-items: center;
    padding: 0;
    width: auto;
    font-size: 2rem;
    color: rgb(60, 211, 60);
  }
  .playIcon {
    transform: scale(2.5);
  }
  .playIcon:hover {
    box-shadow: 0px 10px 10px rgb(60, 211, 60);
    border-radius: 50%;
  }
 .playerMusic {
   position: fixed!important;
   bottom: 0;
   left:0;
   width: 100vw!important;
 }
 @media screen and (max-width: 480px) {
  .playerMusic {
    width: 100vw!important;
  }
 }
 .albumTitle {
  font-size: 2rem;
  font-weight: bold;
 }
 .albumArtist {
  font-weight: bold;
  background-color: transparent;
  border: none;
  color: gray
 }
 .albumArtist:hover {
   color: whitesmoke;
 }

 .albumSongName {
  font-size: 1rem;
  font-weight: 800;
  background-color: transparent;
  color: whitesmoke;
  border: none;
  text-align: center;
 }
 .albumSongDuration {
  font-weight: 500;
  background-color: transparent;
  color: whitesmoke;
  border: none;
  
 }
 .albumSongNameDuration:hover {
  background-image: linear-gradient(to right, black, rgb(27, 64, 27));
  border-radius: 10px;
 }

 .coverArtist {
  max-height: 40vh;
  min-height: 40vh;
  background-position-y: 20%;
  background-size: cover;
  background-repeat: no-repeat;
  /* filter: brightness(70%); */
 }
 .artistArtistName {
  display: inline-block;
  max-width: 100%;
  color: white;
  text-shadow: 0px 0px 5px black;
  font-size: 5rem;
  font-weight: 800;
 }

 .artistArtistFollowers {
  color: white;
  text-shadow: 1px 1px 15px black;
  font-size: 2rem;
  font-weight: 400;
 }
 .favouriteIcon {
   background-color: transparent;
   border: none;
 }
 
 .favouriteHeart {
   box-shadow: 2px 2px 2px black;
   border-radius: 50%;
  transform: scale(2.5);
}
.favouriteHeart:hover {
  box-shadow: -2px -2px 2px black;
  border-radius: 80%;
}
.imgCard {
  border-radius: 20px!important;
}

.makeRelative {
  position: relative;
}
.makeAbsolute {
  position: absolute;
  top: 40%;
}
.makeAbsolute2 {
  position: absolute;
  top: 25%;
}
 @media screen and (max-width: 520px) {
   .artistArtistName {
     font-size: 3rem;
   }
   .makeAbsolute {
    position: absolute;
    top: 30%;
  }
  .makeAbsolute2 {
    position: absolute;
    top: 10%;
  }
 }
 .zoomAnimation {
  animation-name: zoom;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
 }

 @keyframes zoom {
   from{
     transform: scale(1);
     opacity: .1;
   }
   to{
     transform: scale(2.5);
     opacity: 1;
   }
 }